.# Umgebungsdateien (nicht in Git einfügen)
.env.dev
.env.prod

# Virtuelle Umgebungen
venv/

# Container-spezifische Dateien
.devcontainer/

# Python-spezifische Dateien
__pycache__/
*.pyc
*.pyo
*.pyd

# Log-Dateien
*.log

# IDE spezifische Dateien (z.B. VSCode)
.vscode/

# Docker-spezifische Dateien
docker-compose.override.yml
Dockerfile

# Konfigurationsdateien (falls nicht in Git aufgenommen werden sollen)
config.toml

# Wenn du das Build-Verzeichnis ignorieren willst
build/

# Test- und Cache-Dateien
*.swp
*.bak